.wrap {
    padding: 10px 20px 20px 0;
    background: #fff;
}
.inputItem {
    margin: 10px 0 0 20px;
    display: inline-flex;
    align-items: center;
    em { 
        margin-right: 10px;
    }
}